# pycache folders
__pycache__/

# coverage files
.coverage
coverage.*

# virtualenv
.venv/

# vscode settings
.vscode/

# marimo files
.marimo.toml
__marimo__/

# my notes
notes.md
